node_modules
.env
logs/*
!logs/.gitkeep
dist
.DS_Store
.env.example
basics.md

# Frontend & Monorepo
.next/
*.tsbuildinfo
.turbo/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Documentation
docs/
